<% content_for :js do %>
  <%= javascript_import_module_tag "staticpages/top" %>
<% end %>

<div class="container">
  <%= image_tag 'hanabi.png', class: 'click-button', id: 'click-button', disabled: true %>
  <%= image_tag 'hisaju.png', class: 'hisaju', id: 'hisaju', disabled: true %>
  <h1 class="title">ドでかい花火を打ち上げたいんだッッッ</h1>
  <p class="timer">残り時間: <span id="timer">10</span></p>
  <p class="count">花火の玉の重さ: <span id="click-count">0</span>kg</p>
  
  <button class="start-button" id="start-button">Start</button>

  
  
  <button class="reset-button" id="reset-button">やり直す</button>
  
  <div class="finish-button">
    <button class="launch-fireworks" id="launch-fireworks">花火を打ち上げに行く</button>
    <button class="again-button" id="again-button">もう一度</button>
  </div>
</div>