<% content_for :js do %>
  <%= javascript_import_module_tag "fireworks/show" %>
<% end %>


<div class="container-fireworks" id="container-fireworks">
  <canvas id="can"></canvas>
  <button onclick="location.href='/'" class="back" id="back">戻る</button>
  <button class="launch" id="launch">打ち上げる</button>
  <button class="tweet" id="tweet">鳥</button>
</div>