<% content_for :js do %>
  <%= javascript_import_module_tag "fireworks/show" %>
<% end %>


<div class="container-fireworks" id="container-fireworks">
<canvas id="can"></canvas>
  <button class="launch-violently" id="launch-violently">激しく打ち上げる</button>
  <button class="launch-loosely" id="launch-loosely">ゆったり打ち上げる</button>
</div>