<% content_for :js do %>
  <%= javascript_import_module_tag "fireworks/show" %>
<% end %>


<div class="container-fireworks" id="container-fireworks">
  <canvas id="can"></canvas>
  <button class="launch" id="launch">打ち上げる</button>
</div>