<% content_for :js do %>
  <%= javascript_import_module_tag "fireworks/show" %>
<% end %>


<div class="container-fireworks stars" id="container-fireworks">
  <canvas id="can"></canvas>
</div>
<p class="fireworks-weight">花火の玉の重さ: <span id="click-count">0</span>kg</p>
<button class="manual-launch" id="manual-launch">手動で打ち上げる<br>（激重注意）</button>
<button class="auto-launch" id="auto-launch">自動で打ち上げる<br>（6秒おき）</button>
<i class="fa-solid fa-door-open back" id="back" onclick="location.href='/'"></i>

<div id="fa-twitter"><i class="fa-brands fa-twitter" target="_blank" rel="nofollow noopener noreferrer"></i></div>