<% content_for :js do %>
  <%= javascript_import_module_tag "fireworks/show" %>
<% end %>


<div class="container-fireworks stars" id="container-fireworks">
  <canvas id="can"></canvas>
  <p class="fireworks-weight">花火の玉の重さ: <span id="click-count">0</span>kg</p>
  <button class="manual-launch" id="manual-launch">手動で打ち上げる<br>（激重注意）</button>
  <button class="auto-launch" id="auto-launch">自動で打ち上げる<br>（6秒おき）</button>
  <button onclick="location.href='/'" class="back" id="back">戻る</button>
  <button class="tweet" id="tweet">鳥</button>
</div>