/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  position: relative;
  background-color: white;
  width: 98vw;
  height: 96vh;
  z-index: 0;

  .title {
    text-align: center;
  }

  .timer {
    text-align: center;
  }
  .count {
    text-align: center;
  }

  .start-button {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 50px;
  }

  .click-button {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    transition: width 0.2s, height 0.2s;
    display: none;
    z-index: -1;
  }

  .reset-button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 250px;
    height: 50px;
    display: none;
    z-index: 2;
  }

  .finish-button {
    position: absolute;
    color: white;
    width: 270px;
    height: 130px;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0%);
    z-index: -1;
  }
  .again-button {
    width: 250px;
    height: 50px;
    display: none;
    margin: 10px;
  }

  .launch-fireworks {
    width: 250px;
    height: 50px;
    display: none;
    margin: 10px;
  }
}


.container-fireworks {
  width: 100%;
  height: 100%;
  position: fixed;
}

.manual-launch {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 250px;
  height: 50px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1;
}

.auto-launch {
  position: absolute;
  top: 82%;
  left: 50%;
  width: 250px;
  height: 50px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1;
}

.fireworks-weight {
  position: absolute;
  top: 0%;
  left: 1%;
  color: white;
}

.back {
  position: absolute;
  top: 6%;
  left: 1%;
  width: 50px;
  height: 50px;
}

.tweet {
  position: absolute;
  top: 14%;
  left: 1%;
  width: 50px;
  height: 50px;
}

.stars {
  position: relative;
  width: 100%; /* 星空の横幅 */
  height: 100vh; /* 星空の縦幅 */
  overflow: hidden; /* 星が枠外にはみ出すのを防ぐ */
}

/* 星のスタイル */
.star {
  position: absolute;
  display: block;
  background-color: #fff; /* 星の色 */
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(#fff, 0.2); /* 星の影 */
  opacity: 0;
  animation: twinkle 5s infinite;
}

/* 星がキラキラ光るアニメーション */
@keyframes twinkle {
  0% {
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}